h1 {
    font-size: 2em;
    margin-bottom: 20px;
}
p{
   color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;

}
.list .ul {
    list-style-type: none;
    padding-left: 0;
}

.list li {
    margin-bottom: 15px;
    font-size: 1.1em;
}

.list a {
    color: #031522;
    text-decoration: none;
    font-weight: bold;
    font-size:25px;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

ul ul {
    margin-top: 5px;
    padding-left: 20px;
    list-style-type: disc;
}

ul ul li {
    font-size: 1em;
    font-weight: normal;
}