{% extends 'book/index.html' %}
{% load static %}
{% block title %}Aurthor List{% endblock %}
{% block content %}
 <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <h1>Author List</h1>
  <a>Explore our collection of authors and their works.</a>
<h1>Authors</h1>
  <ul>
    {% for author in authors %}
      <li>
        <a>{{ author.name }}</a>
        <br>
        Books:
        <ul>
          {% for book in author.book_set.all %}
            <li><a href="{% url 'bookdetail' book.id %}">{{ book.title }}</a></li>
          {% empty %}
            <li>No books available.</li>
          {% endfor %}
        </ul>
        <hr>
      </li>
    {% empty %}
      <li>No authors available.</li>
    {% endfor %}
  </ul>
{% endblock %}