{% extends 'book/index.html' %}
{% load static %}
{% block title %}Book Detail{% endblock %} 
{% block content %}
 
<style>
li:hover {
    background-color:rgb(144, 179, 209);
    transition: background-color 0.3s ease;
    border-radius: 4px;
}
.author-name {
    font-size: 1.3em;
    color: #333;
}
.container {
    max-width: 800px;
    background-color: rgba(130, 86, 183, 0.34);
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

</style>
    
    
    
       <div class ="container"> 
        <h1>Book Detail</h1>
        <hr>
        <h2>{{ book.title }}</h2>
        <p>Author: {{ book.author.name }}</p>
        <p>Published Date: {{ book.published_date }}</p>
        <p>ISBN: {{ book.isbn }}</p>
        <hr>
        <h3>Reviews:</h3>
        <ul>
            {% for review in book.review_set.all %}
            <li>
                <strong>Rating:{{ review.rating }}/5</strong><br>Review:{{ review.review_text }}
            </li>
            <hr>
            {% empty %}
            <li>No reviews yet.</li>
            {% endfor %}
        </ul>
        </div>
        
{% endblock %}
