{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Book Reviews{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
     <style>
        body {
            background-image: url("{% static 'images/background.jpg' %}");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        main {
             background-color: rgba(255, 255, 255, 0.5);
        }
    </style>
</head>
<body>
    <header>
        <h1>Book Reviews</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'booklist' %}">Book List</a></li>
                <li><a href="{% url 'authorlist' %}">Author List</a></li>
            </ul>
            <form method="get" action="{% url 'search' %}" style="display: inline;">
             <input type="text" name="q" placeholder="Search books or authors">
             <button type="submit">Search</button>
            </form>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Book Reviews. All rights reserved.</p>
    </footer>
</body>
</html>